body {
  font-family: Arial;
  background-image: url(https://images4.newscred.com/Zz1kNmFkYmFmNzhlNGIxMWViYTU1ZDFmYjg0ZWI5MTc4Zg==);
  background-repeat: no-repeat;
  background-size: cover;
}

a {
  color: white;
  text-decoration: none;
  padding: 10px;
  border-radius: 10px;
  margin: 10px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  transition-duration: 0.4s;
}

a:hover {
    background-color: white;
  transition-duration: 0.4s;
  color: lightslategray;
}

a::after {
    background-color: red;
    color: white;
}

a:hover::after {
    background-color: red;
    color: white;
  transition-duration: 0.4s;
}

nav {
  text-align: center;
}

h1,
h2 {
  text-align: center;
  color: white;
}

div {
    column-count: 3;
}

.card {
    border: 3px solid;
    border-radius: 10px;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    break-inside: avoid;
    text-align: center;
}