*{
  box-sizing: border-box;
}

body {
  font-family: Arial;
  background-image: url(https://www.itl.cat/pngfile/big/287-2874120_imac-5k-wallpapers-5k.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  padding-top: 30px;
  padding-bottom: 0px;
}

a {
  color: white;
  text-decoration: none;
  padding: 10px;
  border-radius: 10px;
  margin: 10px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  transition-duration: 0.4s;
}

a:hover {
  background-color: white;
  transition-duration: 0.4s;
  color: lightslategray;
}

a::after {
  color: white;
}

a:hover::after {
  color: white;
  transition-duration: 0.4s;
}

nav {
  text-align: center;
}

h1 {
  text-align: center;
  color: white;
}

.Intro {
  font-size: 50px;
  margin: 20px;
  padding-top: 25%;
  padding-bottom: 25%;
}

h2 {
  text-align: center;
}

.HomePageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.HomePageCard {
  color: white;
  text-align: center;
  font-size: 40px;
  padding: 50px;
  border-radius: 10px;
  margin-top: 20px;
  transition-duration: 0.4s;
  width: fit-content;
}

.HomePageCard:hover {
  background-color: white;
  color: lightslategray;
  border-radius: 10px;
  transition-duration: 0.4s;
}

.HomePageCard::after {
  background-color: white;
  color: lightslategray;
}

.HomePageCard:hover::after {
  transition-duration: 0.4s;
}

#Armin {
  margin: 20px;
  border-radius: 10px;
  transition-duration: 0.4s;
}

#Armin:hover {
  scale: 1.05;
  box-shadow: 10px 10px 5px;
  transition-duration: 0.4s;
}

#Armin::after {
  scale: 1.05;
  box-shadow: 10px 10px 5px;
  transition-duration: 0.4s;
}

#Armin:hover::after {
  scale: 1.05;
  box-shadow: 10px 10px 5px;
  transition-duration: 0.4s;
}

.container1 {
  display: flex;
  flex-direction: row;
  column-gap: 10px;
  row-gap: 10px;
  margin-top: 20px;
}

.container2 {
  display: flex;
  flex-direction: row;
  column-gap: 10px;
  row-gap: 10px;
  margin-top: 20px;
}

.card {
  border: 4px solid white;
  border-radius: 10px;
  backdrop-filter: blur(10px);
  break-inside: avoid;
  text-align: center;
  margin: 10px;
}

.card p {
  color: white;
  font-size: 20px;
}

.Project {
  border-radius: 15px;
  height: 65%;
  border: 5px white solid;
}

h3 {
  font-size: 26px;
  font-weight: bold;
  text-align: center;
  color: white;
}

.AboutMe {
  column-count: 3;
  column-gap: 10px;
  row-gap: 10px;
  margin-top: 20px;
  margin-bottom: 0;
  display: flex;
  justify-content: center;
  backdrop-filter: blur(10px);
  border: 3px solid white;
  border-radius: 10px;
}

.Hobbies {
  color: white;
  font-size: 24px;
  width: 750px;
  padding: 15px;
  margin-top: 20px;
  /* border-radius: 10px; */
  transition-duration: 0.4s;
}

.Skills {
  color: white;
  font-size: 24px;
  width: 750px;
  padding: 15px;
  margin-top: 20px;
  /* border-radius: 10px; */
  transition-duration: 0.4s;
  text-align: center;
}

#skillslist,
#languageslist {
  list-style-type: none;
  line-height: 70px;
  margin: 0;
  padding: 0;
}

.Contact {
  color: white;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  width: 750px;
  padding: 0;
  margin-top: 0;
  border-radius: 10px;
  transition-duration: 0.4s;
  text-align: center;
}

.contactimg {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  max-height: fit-content;
}

.contactimg img {
  height: 150px;
  margin: 1.5rem;
}

form {
  height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  color: white;
  font-size: 24px;
  font-weight: bold;
  line-height: 50px;
}

@media only screen and (max-width: 480px) {
  body {
    margin: 0;
    padding: 0;
  }

  .navbar {
    margin: 0;
  }

  nav {
    display: flex;
    flex-direction: column;
    margin: 0;
  }

  .Intro {
    margin: 2rem;
    height: 75vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .HomePageCard {
    border: 2px solid white solid;
    margin: 0;
    padding: 0.5rem;
  }

  #Armin {
    scale: 30%;
    margin: 0;
  }

  .AboutMe {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .Hobbies {
    border-bottom: 2px solid white;
    max-width: fit-content;
  }

  .Skills {
    border-bottom: 2px solid white;
    max-width: fit-content;
  }

  .Contact {
    max-width: 390px;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
  }

  .container1 {
    display: flex;
    flex-direction: column;
  }

  .container2 {
    display: flex;
    flex-direction: column;
  }

  .Project {
    max-width:100%;
    height:auto;
  }
}

@media only screen and (max-width: 370px) {
  .Project {
    max-width:100%;
    height:auto;
  }
}

@media only screen and (max-width: 820px) {
  .navbar {
    margin: 0;
    margin-top: 20px;
  }

  .Intro {
    margin: 0;
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  #Armin {
    height: 400px;
    margin: 0;
  }

  .container1 {
    display: flex;
    flex-direction: column;
  }

  .container2 {
    display: flex;
    flex-direction: column;
  }

  .Project {
    max-width:100%;
    height:auto;
  }
}

@media only screen and (max-width: 527px) {

  nav {
    display: flex;
    flex-direction: column;
    margin: 0;
  }
}